* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #222831;
  margin: 40px;
}

h1 {
  text-align: center;
  color: #a9a9a9;
}

h2 {
  text-align: center;
  color: #a9a9a9;
}

p {
  color: #a9a9a9;
  font-size: large;
  padding-top: 10px;
  text-align: center;
}

.center {
  align-content: center;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  vertical-align: middle;
}

.navbar {
  border-radius: 10px;
  font-size: xx-large;
  color: #00adb5;
  text-align: center;
  padding: 20px;
  background-color: #393e46;
  overflow: auto;
  margin-bottom: 20px;
}

.btn-group button {
  margin: auto;
  background-color: #00adb5;
  border: 1px solid black;
  color: black;
  width: 75%;
  padding: 10px;
  cursor: pointer;
  display: block;
  margin-top: 15px;
  border-radius: 10px;
  font-size: large;
}

.footer {
  text-align: center;
}

.btn-group button:hover {
  background-color: #00fff5;
}
